<!DOCTYPE html>
<html>
  <head>
    <title>Dave's App | Home</title>
  </head>
  <body>
    <h1>Dave's App</h1>
    <p>
      This is the home page for the Dave's application.
    </p>
  </body>
</html>
