<div id="editconfig">
  <%= form_for(:siteconfig, :url => { :action => "create", :controller => "siteconfigs" }) do |f| %>
    <%= render 'fields',:f => f %>
    <div class="actions">
      <%= f.submit "Create config" %>
    </div>
  <% end %>
</div>