<p><%= @site.url %></p>
<div id="editconfig"><%= link_to "Config", edit_site_siteconfig_path(@site)%></div>
<div id="editnav"><%= link_to "Navigation", edit_site_siteconfig_path(@site)%></div>
<div id="editarticle"><%= link_to "Articles", edit_site_siteconfig_path(@site)%></div>